<div class="row" ng-controller="Dashboard">
  <div class="col-lg-12 table-view">


    <!-- Убрал  ng-show="isUploadAvailable" чтобы блок с загрузкой файла всегда показывался, если нужно вернуть -->
    <div class="upload-file">
      <div class="title">At minima dignissimos repellendus molestias placeat, dolore, delectus pariatur. Facilis molestiae natus inventore ea amet deserunt mollitia omnis vel blanditiis excepturi iure repudiandae, molestias perferendis impedit asperiores numquam maiores id, atque similique. Nemo blanditiis, tenetur molestias assumenda!</div>
      <div class="group">
        <div class="select">
          <select ng-model="userName">
            <option ng-repeat="user in users" value="user.userName">{{user.userName}}</option>
          </select>
        </div>
      </div>
      <div class="group">
        <input type="file" id="file1" name="file" multiple
            ng-files="getTheFiles($files)"> <!-- Сам выбор файла -->
      </div>
      <div class="group">
        <input type="button" ng-click="uploadFiles()" value="Upload" > <!-- Кнопка для загрузки файла -->
      </div>
      <div class="status-msg" ng-show="fileUploadSuccess">{{fileUploadMessage}}</div>
    </div>

    <form class="filter" novalidate>
      <input class="pull-left" type="search" placeholder="search" ng-model="search">
    </form>

    <div ui-view></div>

  </div>
</div>
