<div ng-controller="DataSettings">

  <div class="margin-bottom">
    <form class="filter" novalidate>
      <input class="pull-left" type="search" placeholder="search" ng-model="search">
    </form>

    <div class="table">
      <table>
        <thead>
          <tr>
            <td class="for-select" colspan="13">
              <div class="select">
                <select ng-model="selectedItem"  ng-options="p.desc for p in subject track by p.index" ng-change="changed()">

                </select>
              </div>
            </td>
          </tr>
        </thead>
      </table>
    </div>

    <form class="table">
      <div class="group date-pick">
        <span class="data-label">C:</span>
        <span class="date-pick">
            <datepicker date-format="MMMM dd, yyyy">
              <input ng-model="date1" type="text"/>
            </datepicker>
          </span>
        <span class="data-label">ДО:</span>
        <span class="date-pick">
            <datepicker date-format="MMMM dd, yyyy">
              <input ng-model="date2" type="text"/>
            </datepicker>
          </span>
      </div>
    </form>

    <div class="table">
      <table>
        <tbody class="text-center">
          <tr>
            <!-- YEAR -->
            <td colspan="2" class="text-medium text-left text-uppercase">year</td>
            <td class="text-medium text-center" colspan="{{yearsGrouped[x]}}" ng-repeat="x in yearsKeys">{{x}}</td>
          </tr>
          <tr>
            <!-- MONTH -->
            <td colspan="2" class="text-medium text-left text-uppercase">month</td>
            <td ng-repeat="month in monthes track by $index">{{month}}</td>
          </tr>
          <tr>
            <!-- ACCUMULATE PLAN -->
            <td class="for-select">
              <div class="select">
                <select ng-model="planIndex" ng-options="p.title for p in plan track by p.index"  ng-change="redrawChart()">
                </select>
              </div>
            </td>
            <td class="for-select">
              <div class="select">
                <select ng-model="colorAccPlan" ng-options="color for color in colors track by $index"></select>
              </div>
            </td>
            <td ng-repeat="value in plan[planIndex.index].data track by $index" ng-class="returnClass(colorAccPlan);">{{value}}</td>
          </tr>
          <tr>
            <!-- ACCUMULATE ACTUAL -->
            <td class="for-select title">
              <div class="select">
                <select  ng-model="actualIndex" ng-options="p.title for p in actual track by p.index" ng-change="redrawChart()">
                </select>
              </div>
            </td>
            <td class="for-select">
              <div class="select">
                <select ng-model="colorAccActual" ng-options="color for color in colors track by $index"></select>
              </div>
            </td>
            <td ng-repeat="value in actual[actualIndex.index].data  track by $index" ng-class="returnClass(colorAccActual);">{{value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table">
    <canvas width="950px" height="500px" class="chart chart-line" chart-data="data" chart-options="options", chart-labels="labels" chart-series="series" chart-click="onClick" chart-colors="colors"></canvas>
  </div>

</div>
