<div class="row" ng-controller="Document">
  <div class="col-lg-12 table-view">

    <div class="table" ng-hide="hideButtons">
      <div class="group">
        <input type="button" value="Settings" ui-sref="main.documents.settings({documentId: documentId})" ng-click="">
        <input type="button" value="Plan" ui-sref="main.documents.plan({documentId: documentId})">
        <input type="button" value="Actual" ui-sref="main.documents.actual({documentId: documentId})">
      </div>
    </div>

    <div ui-view></div>

  </div>
</div>
