<form class="filter" novalidate>
  <input class="pull-left" type="search" placeholder="search" ng-model="search">
</form>

<div class="table">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Time</td>
        <td>User</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="doc in documents">
        <td>{{doc.name}}</td>
        <td>{{doc.type}}</td>
        <td>{{doc.dateOfPost | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{doc.user}}</td>
        <td class="buttons-group">
          <input type="button" value="read" name="button" ng-click="showButtons(doc.id);" ui-sref="main.documents.settings({documentId: doc.id})">
          <input type="button" value="download" ng-hide="true">
        </td>
      </tr>
    </tbody>
  </table>
</div>
