<div class="table">
  <div class="title">{{hideButtons}}<br>At minima dignissimos repellendus molestias placeat, dolore, delectus pariatur. Facilis molestiae natus inventore ea amet deserunt mollitia omnis vel blanditiis excepturi iure repudiandae, molestias perferendis impedit asperiores numquam maiores id, atque similique. Nemo blanditiis, tenetur molestias assumenda!</div>
</div>

<form class="filter" novalidate>
  <input class="pull-left" type="search" placeholder="search" ng-model="search">
</form>

<div class="table" ng-controller="Document">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Time</td>
        <td>User</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="doc in documents">
        <td>{{doc.name}}</td>
        <td>{{doc.type}}</td>
        <td>{{doc.dateOfPost | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{doc.user}}</td>
        <td class="buttons-group">
          <input type="button" value="read &amp; update" name="button" ng-click="showButtons();">
          <input type="button" value="download">
        </td>
      </tr>
    </tbody>
  </table>
</div>
