<div class="window">

  <div class="logotype">[ Good <span>Night</span> Medical ]</div>

  <div class="form" ng-controller="regCtrl">

    <div class="title">Enter Your Data</div>

    <form name="regForm" ng-submit="submitReg();" novalidate>

      <input name="userName" type="text" placeholder="login"
             ng-class="returnClass(regForm.userName.$touched, regForm.userName.$invalid, 'alert')"
             ng-model="userName" required>

      <input name="password" type="password" placeholder="password"
             ng-class="returnClass(regForm.password.$touched, regForm.password.$invalid, 'alert')"
             ng-model="password"
             ng-pattern="/^[A-Za-z0-9_-]{6,18}$/" required>

      <input name="repeatPassword" type="password" placeholder="repeat password"
             ng-class="returnClass(regForm.repeatPassword.$touched, regForm.repeatPassword.$invalid,'alert')"
             ng-model="passwordRe"
             ng-pattern="/^[A-Za-z0-9_-]{6,18}$/" required>

      <div class="validate-msg" ng-if="regErrorMsg();">
        <div ng-if="showErrorMsg(regForm.userName.$touched, regForm.userName.$invalid);">{{errorUserNameMsg}}</div>
        <div ng-if="showErrorMsg(regForm.password.$touched, regForm.password.$invalid);">{{errorPasswordNameMsg}}</div>
        <div ng-if="showErrorMsg(regForm.repeatPassword.$touched, regForm.repeatPassword.$invalid);">{{errorRepeatPasswordMsg}}</div>
      </div>

      <input type="submit" value="log in">

    </form>

  </div>

</div>
