nav {
  position: fixed;
  z-index: 700;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 0;
  background-color: #222831;}

nav .brand {
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  color: #f0f0f2;}

nav .brand span {
  font-size: 18px;
  color: #57c131;}

nav .log-out {
  margin-left: 15px;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  color: #57c131;}

nav .brand:hover,
nav .brand:hover span,
nav .log-out:hover {font-size: 19px;}
