.view-content {
  width: 100%;
  min-width: 950px;
  padding: 20px 0 0 220px;}

.table-view .upload-file {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.table-view .upload-file .title {
  font-family: 'Roboto';
  font-size: 14px;
  margin-bottom: 15px;
  text-align: justify;}

.table-view .upload-file .status-msg {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #57c131;}

.table-view .filter {
  height: 64px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.table-view input[type='text'],
.table-view input[type='search'] {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  border: 2px solid #ddd;
  border-radius: 3px;}

.table-view input[type='text']:hover,
.table-view input[type='text']:focus,
.table-view input[type='search']:hover,
.table-view input[type='search']:focus {
  color: #222831;
  border: 2px solid #57c131;}

.table-view .filter input[type='search']:focus::-webkit-input-placeholder {
  color: transparent}

.table-view .filter input[type='search']:focus::-moz-placeholder {
  color: transparent}

.table-view .filter input[type='search']:focus:-moz-placeholder {
  color: transparent}

.table-view .filter input[type='search']:focus:-ms-input-placeholder {
  color: transparent}

.table-view .table {
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.table-view table {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;}

.table-view table thead tr td {
  font-family: 'Rubik';
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  border: 2px solid #57c131;}

.table-view table tbody tr td {
  font-family: 'Rubik';
  font-size: 12px;
  position: relative;
  padding: 5px;
  border: 2px solid #ddd;}

.table-view table tr td.for-select {padding: 0;}

.table-view table tr td.for-select .select {
  height: 34px;
  padding-right: 40px;
  border: none;
  overflow: hidden;
  border-radius: 3px;
  background: url(../../images/form-ctrl/arrow-dowm.png) no-repeat right center/34px 34px;
  background-color: #fff;}

.table-view table tr td.for-select .select select {
  line-height: 100%;
  display: block;
  width: calc(100% + 80px);
  height: 100%;
  margin: 0;
  padding: 0 10px;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;}

.table-view table tr td.for-select .select:hover,
.table-view table tr td.for-select .select:focus {
  border: none;}

.table-view table tbody tr td.month {
  transform: rotate(-90deg);
  text-align: center;
  background-color: transparent !important;}

.table-view table tbody tr td .rotate-title {
  transform: rotate(-90deg);
  text-align: center;}

.table-view table tbody tr.rotate td {
  transform: rotate(-90deg);
  text-align: left;
  height: 120px;
  width: 10px;
  vertical-align: middle;
  white-space   : nowrap;}

.table-view table tbody tr:hover td {
  background-color: #f0f0f2;}

.table-view table tbody tr td.buttons-group {
  width: 1%;}

.table-view table tbody tr td.buttons-group > * {
  margin-bottom: 5px;}

.table-view table tbody tr td.buttons-group >:last-child {
  margin-bottom: 0;}

.table-view table tbody tr td.buttons-group input {
  font-weight: 600;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #57c131;}

.table-view table tbody tr td input:hover,
.table-view table tbody tr td input:focus,
.table-view table tbody tr td input:active {
  background-color: #b9e937;}

div.date-pick {
  height: 34px;
}

div.date-pick > *{
  display: inline-block;
}

div.date-pick span {
  line-height: 34px;
  vertical-align: middle;
  margin-right: 15px;
}
div.date-pick span.data-label {
  line-height: 34px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}

.table .group:last-child {margin-bottom: 0;}

.table .group > input {
  background-color: #57c131;
  display: inline-block;
}

.table .group > input:hover {background-color: #b9e937;}

.red    {background-color: #ffcdd2 !important;}
.orange {background-color: #ffe0b2 !important;}
.yellow {background-color: #fff59d !important;}
.green  {background-color: #c8e6c9 !important;}
.blue   {background-color: #bbdefb !important;}
.pink   {background-color: #f8bbd0 !important;}

.chart-bottom {
  position: fixed;
  bottom: 0;
  width: -webkit-calc(100% - 260px);
  width: -moz-calc(100% - 260px);
  width: calc(100% - 260px);
  right: 20px;
  -webkit-box-shadow: 0 0 0 20px #f0f0f2 !important;
     -moz-box-shadow: 0 0 0 20px #f0f0f2 !important;
          box-shadow: 0 0 0 20px #f0f0f2 !important;
}

.margin-bottom {margin-bottom: 225px;}




















